{% extends "_base.html" %}
{% load static %}
{% block title %} Registration {% endblock %}
{% block content %}

<div class="form-top-heading">
    {% if customer.is_registration_complete %}
    <h3>Already Subscribed</h3>
    <p>Below are your account details.</p>
    {% else %}
    <h3>Create Account</h3>
    <p>Please fill the form below.</p>
    {% endif %}
</div>
<div class="register-page-form">
    <form method="post" action=".">
        {% csrf_token %}
        <div class="form-field">
            <input type="email" name="email" placeholder="Email*" required="required" value="{{ form.email.value }}">
            {% if form.errors %}
            {% for errors in form.errors.as_data.email %}
            <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-field">
            <div class="form-field-inner">
                <div class="form-field-half">
                    <input type="text" name="first_name" placeholder="First Name*" required="required" value="{{ form.first_name.value }}">
                    {% if form.errors %}
                    {% for errors in form.errors.as_data.first_name %}
                    <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                        {% for error in errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-field-half">
                    <input type="text" name="last_name" placeholder="Last Name*" required="required" value="{{ form.last_name.value }}">
                    {% if form.errors %}
                    {% for errors in form.errors.as_data.last_name %}
                    <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                        {% for error in errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-field">
            <div class="form-field-inner">
                <div class="form-field-half">
                    <input type="text" name="company_name" placeholder="Company Name*" required="required"
                        value="{{ form.company_name.value }}">
                    {% if form.errors %}
                    {% for errors in form.errors.as_data.company_name %}
                    <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                        {% for error in errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-field-half">
                    <input type="text" name="title" placeholder="Title" value="{{ form.title.value }}">
                    {% if form.errors %}
                    {% for errors in form.errors.as_data.title %}
                    <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                        {% for error in errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-field">
            <input type="Number" name="phone_number" placeholder="Phone Number" value="{{ form.phone_number.value }}">
            {% if form.errors %}
            {% for errors in form.errors.as_data.phone_number %}
            <div style="margin: 3px 0; padding: 5px; background:  rgba(255, 0, 0, 0.2);">
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-field">
            <input type="submit" class="submit-btn" value="{% if customer.is_registration_complete %}Update Information{% else %}Register{% endif %}">
        </div>
    </form>
</div>

{% endblock content %}