{% extends "_base.html" %}
{% load static %}
{% block content %}
<div class="register-page-right">
  <div class="site-logo-cls">
    <img src="{% static 'svg-logo.svg' %}" class="hs-image-widget " style="width:155px;border-width:0px;border:0px;"
      width="155" alt="svg-logo" title="svg-logo">
  </div>
  <div class="register-page-right-inner" style="text-align: center;">
    <div class="form-top-heading">
      <h3>Welcome to Our Subscribtion Service Platform</h3>
      <p>Find EdgeIQ on AWS MarketPlace and subscribe.</p>
    </div>

  </div>
</div>

{% endblock content %}