{% extends '_base.html' %}
{% load static %}
{% block title %}404 Page not found{% endblock %}

{% block content %}
<div class="register-page-right">
    <div class="site-logo-cls">
        <img src="{% static 'svg-logo.svg' %}" class="hs-image-widget " style="width:155px;border-width:0px;border:0px;"
            width="155" alt="svg-logo" title="svg-logo">
    </div>
    <div class="register-page-right-inner" style="text-align: center;">
        <div class="form-top-heading">
            <h3 style="color: rgba(255, 0, 0, 0.7);">Page not found (404)</h3>
            <p>The endpoint you requested could not be found. </p>
        </div>
    </div>
</div>
{% endblock content %}