{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Subscription {% endblock title %} | EdgeIQ</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="shortcut icon" href="https://www.edgeiq.ai/hubfs/EdgeIQ-Logo-Black-3.png">
</head>

<body>

  <div class="register-page">
    <div class="register-page-inner">
      <div class="register-page-left">
        
        <img src="{% static 'Group-33610.png' %}" alt="Group-33610">
      </div>
      {% block content %}
      {% endblock content %}
  </div>
</div>

</body>

</html>